footer {
    padding: 60px 0 25px;
    background-color: black;

    .footer-end {
        padding-top: 25px;
        border-top: 1px solid $color-second;

        .copy {
            font-weight: 400;
            font-size: 12px;
            line-height: 30px;
            margin-bottom: 0;
            text-align: center;
            color: white;
        }
    }

    .footer-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;

        img {
            margin-bottom: 60px;
            width: 75px;
            height: 75px;
        }

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            li {
                padding: 10px;

                &.current_page_item {
                    a {
                        color: $color-second !important;
                        font-weight: 700;
                    }
                }

                a {
                    color: white;
                }
            }
        }
    }

    @media screen {
        @media (min-width: $screen-lg) {
            .footer-holder {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                img {
                    margin-bottom: 0;
                }
            }
        }
    }
}